:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(51, 51, 51);
  color: rgb(216, 216, 216);
  font-family: 'Josefin Sans', sans-serif;
}
.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.images {
  padding: 3%;
}
img {
  width: 100%;
  border: 1px solid white;
  display: block;
}

@media (min-width: 768px) {
  .image:nth-child(even) {
    margin-left: 0;
    width: 47%;
  }
  .image:nth-child(odd) {
    margin-right: 0;
    width: 47%;
  }
}
